
table {
  font-family: 'Balsamiq Sans', cursive;
  font-size: larger;
  border-collapse: collapse;
  border: 2px dashed;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.Column{
  text-align: center;
  font-size: medium;
}
table, th, td {
  border: 1px solid black;
}
th {
  color: rgb(92, 21, 21);
  font-weight: bold;
}

