<table mat-table [dataSource]="dataSource"  id="theme">

  <!-- Name Column -->
  <ng-container matColumnDef="new_case">
    <th mat-header-cell *matHeaderCellDef class="Column">ผู้ป่วยรายใหม่</th>
    <td mat-cell *matCellDef="let element"> {{element.new_case}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="total_case">
    <th mat-header-cell *matHeaderCellDef class="Column">ผู้ป่วยสะสม</th>
    <td mat-cell *matCellDef="let element"> {{element.total_case}} </td>
  </ng-container>
    <!-- Name Column -->
  <ng-container matColumnDef="new_case_excludeabroad">
    <th mat-header-cell *matHeaderCellDef class="Column">ผู้ป่วยรายใหม่(ไม่นับมาจากต่างประเทศ)</th>
    <td mat-cell *matCellDef="let element"> {{element.new_case_excludeabroad}} </td>
  </ng-container>
    <!-- Name Column -->
  <ng-container matColumnDef="total_case_excludeabroad">
    <th mat-header-cell *matHeaderCellDef class="Column">ผู้ป่วยสะสม(ไม่นับมาจากต่างประเทศ)</th>
    <td mat-cell *matCellDef="let element"> {{element.total_case_excludeabroad}} </td>
  </ng-container>
    <!-- Name Column -->
  <ng-container matColumnDef="new_death">
    <th mat-header-cell *matHeaderCellDef class="Column"> ผู้เสียชีวิตรายใหม่ </th>
    <td mat-cell *matCellDef="let element"> {{element.new_death}} </td>
  </ng-container>
    <!-- Name Column -->
  <ng-container matColumnDef="total_death">
    <th mat-header-cell *matHeaderCellDef class="Column"> ผู้เสียชีวิตสะสม </th>
    <td mat-cell *matCellDef="let element"> {{element.total_death}} </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="update_date">
    <th mat-header-cell *matHeaderCellDef class="Column"> อัปเดตล่าสุด </th>
    <td mat-cell *matCellDef="let element"> {{element.update_date}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
</table>

