
#theme {
  font-family: 'Balsamiq Sans', cursive;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

#theme td, #theme th {
  border: 1px solid #ddd;
  padding: 8px;
}

#theme tr:nth-child(even){background-color: #f2f2f2;}

#theme tr:hover {background-color: #ddd;}

#theme th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-size: larger;
  background-color: #610f1a;
  color: white;
}
