<!-- Toolbar -->
<div class="toolbar" role="banner">
  <p>โรคติดเชื้อไวรัสโคโรนา 2019 (COVID-19)</p>
</div>

<!-- content -->
<div class="content" role="main">
  <!-- Resources -->
  <h2>สถานการณ์ผู้ติดเชื้อ COVID-19 ในประเทศไทย</h2>
  <p>อัพเดทรายวัน</p>
  <br>
  <app-covid19today class="tablecovid"></app-covid19today>
  <br>
  <h2>สถานการณ์ผู้ติดเชื้อ COVID-19 รายจังหวัด</h2>
  <br>
  <app-covid19 class="tablecovid"></app-covid19>
</div>
<!-- Footer -->
<div class="background p-4 text-white text-center">
  <p>© 2021 Designed by Suphawit Charoensuk</p>
</div>

<router-outlet></router-outlet>
